.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
tests
*.db
*.log
.env
.env.*
**/services.sh
**/id_rsa*
**/id_ed25519*
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/*.crt
**/*.cer
**/*secret*
**/*password*
